# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environment and secrets
.env
.env.*
!.env.example
!.env.sample

# dependencies
node_modules/
vendor/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# Build and Next.js output
dist/
/.next/
/out/
/build

# misc
.DS_Store
Thumbs.db
Desktop.ini
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE settings
.idea/
.vscode/*
!.vscode/extensions.json

# typescript
*.tsbuildinfo
next-env.d.ts
